:root{
    /* add all the common colors and stuff */
    /* I went with a stylish and sophisticated color pallet */
    --teal:#2C3531;
}
*{
    background-color: #D1E8E2;
    color:#2C3531;
}

/* controls the header properties */
header{
    position:sticky;
    z-index: 9999999;
    top:0;
    background-color:#2C3531;
    color:white;
    height: max-content auto;
    padding-bottom: 20px;
    display:inline-flex;
    column-gap: 1%;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
    align-items: center;
}


header h1{
    justify-self:left; 
    background-color:#2C3531;
    color:white;
    font-size: 50px;
    padding-right: 1em;
}
header span{
    justify-self:left; 
    background-color:#2C3531;
    color:white;
    font-size: 50px;
    padding-right: 1em;
} 


header img{
   justify-self:left; 
}

/* controls the navbar main properties */
nav {
    right: 0px;
    background-color:#2C3531;
    display: flex;
    justify-self: right;
    
}

/* controls the nav bar list properties */
nav ul {
    right:0px;
    list-style-type:none;
    float:right;
    margin:0;
    display: flex;
    background-color:#2C3531;
    min-width:20%;
    flex-direction: column;
    text-align:right;
    justify-self:end;
} 
nav li{
    float:right;
    justify-self:end;
}

/* controls the nav bar link properties */
nav a {
    display:block;
    background-color:#2C3531;
    width:auto;
    font-size:30px;
    color: white;
    padding-right:50px;
    text-decoration:none;
    text-align: center;
    flex-shrink: 2 ;
    justify-self:end;
}


/* code that controls the about me section */
.sections{
    margin-right:2%;
    display:flex;
    align-items:flex-start;
    margin-top:20px;
    margin-bottom:20px;
    height: fit-content;
}

/* code that controls the about me header */
.sections h2{
    position: sticky;
    top:7em;
    height: max-content;
    min-width:15%;
    width: fit-content;
    text-align:right;
    font-size:xx-large;
    
}

/* code for the about me paragraph */
.sections p{
    width:85%;
    height:100%;
    border-left:solid 3px #2C3531;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left:30px;
    padding-right:30px;
    font-size: 20px;
    line-height: 2em;
}



/* code that controls the work section */
.sections_work{
    margin-right:2%;
    display:flex;
    align-items: flex-start;
    margin-top:20px;
    margin-bottom:20px;
    height: 1000px;
}

/* code that controls the work header*/
.sections_work h2{
    position: sticky;
    top:7em;
    min-width:15%;
    width: fit-content;
    text-align:right;
    font-size:xx-large;
}


/* this controls the outer box that holds the work examples */
#outer_box{
    border-left:solid 3px #2C3531;
    padding-left:30px;
    margin-left:2%;
    display:flex;
    flex-direction:column;
    width:75%;
    height:100%;
    flex-grow:1;
    align-items:center;
    
}

/* Code for the main project block */
#main_project{
    background-image: url(../assets/images/coding_img.jpg);    border:var(--teal) 5px solid;
    background-size: cover;
    margin-bottom:2%;
    width: 100%;
    height:60%;
    transition:all 0.5s ease-in-out;
}
#main_project:hover{
    box-shadow:inset 0px 0px 10px 5px #116466, 0 0 20px 5px #116466;
    filter: opacity(80%);
}
#main_project a{
    height:100%;
}

#main_project h3{
    width: 100%;
    height:fit-content;
    padding-top:1%;
    flex-direction: column;
    justify-self: center;
    text-align:left;
    font-size: 150%;
    font-weight:bold;
    background-color:var(--teal);
    color:white;
}

#main_project h4{
    width: 100%;
    height:fit-content;
    text-align:left;
    background-color:var(--teal);
    color:white;
    padding-bottom: 5px;
}



/* this controls the box that holds the 4 projects that will be smaller on screen */
#smaller_projects{
    display:flex;
    width:100%;
    justify-content: space-between;
    height:40%;
}

#left_block{
    width:48%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

#right_block{
    width:48%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

/* I was planning on controling all the small projects with a single class
however I changed my mind because I want to add the background image as a part of the css. 
I might change it back later. */

.sml_prj_1{
    height: 40%;
    background-image: url(../assets/images/coding_img.jpg);    
    border:var(--teal) 5px solid;
    transition:all 0.5s ease-in-out;
    
}
.sml_prj_1:hover{
    box-shadow:inset 0px 0px 10px 5px #116466, 0 0 20px 5px #116466;
    filter: opacity(80%);
}

.sml_prj_2{
    height: 40%;
    background-image: url(../assets/images/coding_img.jpg);    
    border:var(--teal) 5px solid;
    transition:all 0.5s ease-in-out;
}
.sml_prj_2:hover{
    box-shadow:inset 0px 0px 10px 5px #116466, 0 0 20px 5px #116466;
    filter: opacity(80%);
}

.sml_prj_3{
    height: 40%;
    background-image: url(../assets/images/coding_img.jpg);
    border:var(--teal) 5px solid;
    transition:all 0.5s ease-in-out;
}
.sml_prj_3:hover{
    box-shadow:inset 0px 0px 10px 5px #116466, 0 0 20px 5px #116466;
    filter: opacity(80%);
}

.sml_prj_4{
    z-index:10;
    height: 40%;
    background-image: url(../assets/images/coding_img.jpg);
    border:var(--teal) 5px solid;
    transition:all 0.5s ease-in-out;
}

.sml_prj_4:hover{
    box-shadow:inset 0px 0px 10px 5px #116466, 0 0 20px 5px #116466;
    filter: opacity(80%);
}


#smaller_projects h3{
    min-width: 20%;
    width:100%;
    height:fit-content;
    text-align:left;
    font-size: 1.3em;
    font-weight:bold;
    background-color:var(--teal);
    border-top:solid var(--teal) 5px;
    color:white;

}
#smaller_projects h4{
    width: 100%;
    height:fit-content;
    padding-bottom:5px;
    text-align:left;
    background-color:var(--teal);
    color:white;
}





.sections_contact{
    margin-right:2%;
    display:flex;
    align-items:center;
    margin-top:20px;
    margin-bottom:20px;
    height: 120px;
}

/* code that controls the three main sections headers */
.sections_contact h2{
    border-right:solid 3px #2C3531;
    min-width:15%;
    width:fit-content;
    text-align:right;
    font-size:xx-large;
    height:100%;
    
}

.sections_contact ul {
    display: flex;
    min-width:75%;
    height:100%;
    justify-content: space-around;
    margin-left:30px;
    margin-right:30px;
}
.sections_contact li{
    display:block;
    width:100%;
    justify-content: space-around;
    height:100%;
}

.social_icon{
    font-size:120px;
    color:var(--teal);
    transition:all 0.5s ease-in-out;
    
}

ion-icon:hover {
    color:#116466;
}

@media (max-width:850px){
    header img{
        display:none;
    }
    .sections_contact h2{
        display:none;
        
    }
}
@media (max-width:630px){
    header h1:before{
        content: "C. Abel";
    }
    .Author_name{
        display: none;
    }
    
    #outer_box h4{
        display:none;
    }
}